<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.css"  crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.js"  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.js"  crossorigin="anonymous"></script>
   <link rel="stylesheet" href="../public/style.css">

</head>
<body>
{{> header }}
  <div class="container">{{{body}}}</div>
</body>
</html>
