<div class="row">
  <div class="col-sm-6 col-md-8 offset-sm-3 offset-md-2">
    <h2>Add Products</h2>
    <form action="/product/add"  method="post">
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="title">Title of Product</label>
          <input type="text" class="form-control" id="title"  >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="imgPath">Image</label>
          <input type="text" class="form-control" id="imgPath"  >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description"  >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price"  >
        </div>
      </div>
    </form>
    <button class="btn btn-primary">Add</button>
  </div>
</div>
